.boxing{
	height: 100px;
	position: relative;
	left: 23%;
	top: -120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
        background-color: var(#fff);
	padding: 30px;
	border-radius: 20px;
	width: 800px;
	height: 130px;
	box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

